<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <div class="grid-layout">
    <div class="left-side">
      <img src="./../assets/Images/village_function.png" class="full-image" />
    </div>
    <div class="right-side">
      <div class="text-box">
        <h1>Welcome Village Function</h1>
        <p>Celebrating with tradition, food, and joy!</p>
        <ion-list>
          <ion-item>
            <ion-input labelPlacement="stacked" label="Email" placeholder="email@domain.com">
              <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
              <ion-button fill="clear" slot="end" aria-label="Show/hide">
                <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
              </ion-button>
            </ion-input>
          </ion-item>
        </ion-list>


      </div>
    </div>
  </div>
</ion-content>